# NOTE:
# The file in version control contains placeholders only

# Google OAuth support
GOOGLE_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GOOGLE_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXX
GOOGLE_CALLBACK_URL=http://localhost:3001/auth/google/callback
GOOGLE_AUTH_SCOPE=https://www.googleapis.com/auth/userinfo.email

# Google Analytics
GA_TRACKING_ID=XX-YYYYYYYYY-1

# Domain to get images and other static assets from
MG_CDN=https://cdn.mythgardhub.com

MG_CARDS_CDN=https://cards.mythgardhub.com

# PostgreSQL connection info
PGUSER=postgres
PGHOST=db
PGPASSWORD=example
PGDATABASE=postgres
PGPORT=5432
PGSSL=no

# Configs For JWTs
JWT_COOKIE_NAME=jwt
JWT_SECRET=banana_cat_fondue
JWT_ISSUER=mythgardhub.com
JWT_AUDIENCE=mythgardhub.com

# A loop-back for SSR requests
SSR_HOST=http://next:3001

# Endpoint for talking to the express app internally
API_HOST=http://express:3000
